doctype html
html(style="height:100%")
  head
    script(src="/javascripts/three.min.js")
    script(src="/javascripts/game.js")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style="height:100%")
    block content
